*{
    padding: 0; 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 14px;
}
header{
    text-align: center;
}
.inline{
    display: inline;
}
.name{
    color: navy;
    margin-top: 8px;
}